@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200;1,300&display=swap');

:root
{
    --green: green;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgb(0, 4, 216);
    --outline: .1rem solid rgba(0,0,0.1);
}

*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;

}
body{
    background: #eee;
}

section
{
    padding: 2rem 9%;
    
}
.heading
{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span
{
    background: var(--green);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.btn{
    border: 1px solid var(--black);
    color: var(--black);
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: 2rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .2rem; 
    background: none;
}
.btn:hover{
    background: var(--green);
    color: white;
}
.header{
    border: 0px solid;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}
.header .logo
{
    font-size: 2.5rem;
    font-weight: bold;
}
.header .logo i{
    color: var(--green);
}
.header .navbar a{
    font-size: 1.4rem;
    margin: 0 1rem;
    color: var(--black);
    
}
.header .navbar a:hover{
    color: var(--green);
}
.header .icons div{
    
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align:center;
    cursor: pointer;
}
.header .icons div:hover
{
    background: var(--green);
    color:white;
}

#menu-btn
{
    display: none;
}
.header .search-form
{
    border: 0px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active
{
    right: 2rem;
    transition: .4s linear;
}
.header .search-form input
{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding:0 1.5rem
}
.header .search-form label
{
    font-size: 2.2rem;
    padding-right:1.5rem;
    color: var(--black);
    cursor: pointer;
}
.header .search-form label:hover
{
    color: var(--green);
}
.header .shopping-cart
{
    position: absolute;
    border: 1px solid;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}

.header .shopping-cart .box{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;

}

.header .shopping-cart .box img
{
    height: 8rem;
}

.header .shopping-cart .box .fa-trash
{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}
.header .shopping-cart .box .fa-trash:hover
{
    color: var(--green);
}
.header .shopping-cart .box .content h3
{
    font-size: 1.7rem;
    color: var(--black);
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span
{
    color: var(--light-color);
    font-size: 1.6rem;

}
.header .shopping-cart .box .content .quantity
{
    padding-left: 1rem;
}
.header .shopping-cart .total
{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);

}
.header .shopping-cart .btn
{
    display: block;
    text-align: center;
    margin: 1rem 0;


}

.header .shopping-cart.active
{
    right: 2rem;
    transition: .4s linear;
}
.header .login-form
{
    width: 35rem;
    border: 1px solid;
    position: absolute;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}
.header .login-form h3
{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.header .login-form .box
{
    width: 100%;
    border: 1px solid;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;

}
.header .login-form p
{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}
.header .login-form p a{
/* font-size: 1.4rem;
padding: .5rem 0; */
color: var(--green);
text-decoration: underline;
}
.header .login-form.active
{
    right: 2rem;
    transition: .4s linear;
}

.home
{
    border: 0px solid;
    display: flex;
    justify-content: center;
    background: url(../image/banner-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content
{
    text-align: center;
    border: 0px solid;
    width: 60rem;
    height: 10rem;
}

.home .content h3
{
    color: var(--black);
    font-size: 3rem;
    
}
.home .content h3 span
{
    color: var(--green);
    /* font-size: 3rem; */
    
}
.home .content p
{
    color: var(--black);
    font-size: 1.7rem;
    padding: 1rem 0;
    padding-bottom: 2rem;
}
.Features .box-container
{
    border: 0px solid;
    height: 41rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
}
.Features .box-container .box
{
    border: 0px solid;
    background-color: white;
    text-align: center;
    padding: 2rem;
    margin: .5rem;
    align-items: flex-end;
    justify-content: space-between;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin-bottom: .5rem;
    
}
.Features .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);

}
.Features .box-container .box p
{
    font-size: 1.5rem;
    text-align: center;
    padding: 1.55rem;
    
}
.Features .box-container .box h3
{
    font-size: 1.75rem;
}
.Features .box-container .box img
{
    height: 180px;
    margin: .8rem 0rem;
}
.Products .product-slider
{
    border: 0px solid;
    padding: 1rem;
    /* margin-bottom: rem; */
}
.Products .product-slider :first-child
{
    margin-bottom: .1rem;

}
.Products .product-slider .box
{
    padding-top: 1rem;
    outline: var(--outline);
    border-radius: .5rem;
    border: 0px solid red;
    background: white;
    text-align: center;
    
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    margin-bottom: -.5rem;
    height: 36rem;
}
.Products .product-slider .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);
}
.Products .product-slider .box img
{
    height: 12.5rem;
}
.Products .product-slider .box h1
{
    font-size: 2.5rem;
    color: var(--black);
}
.Products .product-slider .box .price
{
    font-size: 2rem;
    color: var(--black);
    padding: .5rem 0;
}
.Products .product-slider .box .stars
{
    color: rgb(255, 81, 0);
    font-size: 15px;
    padding: .5rem;
    padding-bottom: 3rem;
}

.categories .box-container
{
    padding-top: 1rem;
    border: 0px solid;
    height: 30rem;
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
}
.categories .box-container .box
{
    padding: .5rem;
    height: 30rem;
    /* width: 25rem; */
    gap: 1.5rem;
    background: white;
    border-radius: .5rem;
    
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
    margin-bottom: -2rem;
    
}
.categories .box-container .box:hover
{
    box-shadow: 1px 1px 10px 4px var(--green);
}
.categories .box-container .box h3{
    font-size: 2rem;
}
.categories .box-container .box p
{
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}
.categories .box-container .box img
{
    margin-top: 4rem;
    align-items: center;
    height: 100px;

}

.Review .Review-slider
{
    border: 0px solid;
    padding: 1rem;
    height: 28rem;
}
.Review .Review-slider .box
{
    outline: var(--outline);
    border-radius: .5rem;
    border: 0px solid red;
    background: white;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    margin-bottom: .01rem;
    height: 25rem;
}
.Review .Review-slider .box:hover{
    box-shadow: 1px 1px 10px 4px var(--green);   
}
.Review .Review-slider .box img
{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;

}
.Review .Review-slider .box h3{
    padding: .5rem 0;
    color: var(--black);
    font-size: 2rem;
}
.Review .Review-slider .box p{
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size:1rem;
}
.Review .box .stars 
{
    color: rgb(255, 81, 0);
    font-size: 15px;
    padding: .5rem 0;
}
.Blogs .box-container
{
    padding-top: -20rem;
    border: 0px solid;
    /* height: 20rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
}
.Blogs .box-container .box
{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: white;
    padding: .2rem;
    margin: .4rem;
    height: 45rem;
    text-align: center;

}
.Blogs .box-container .box img
{
    height: 14rem;
    width: 100%;
    padding: .4rem;
    object-fit: cover;
    text-align: center;
}
.Blogs .box-container .box .content
{
    padding: .2rem;
    
    align-items: center;
}
.Blogs .box-container .box .content .icons
{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);

}
.Blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.2rem;
   
}
.Blogs .box-container .box .content .icons a:hover
{
    color: var(--black);
}
.Blogs .box-container .box .content .icons a i{
    color: green;
    padding-right: .5rem;


}
.Blogs .box-container .box .content h3{
    font-size: 18px;
    color: var(--black);
    /* font-size: 2.2rem; */
    padding: 1rem 1rem;
    text-align:left;
    
}
.Blogs .box-container .box .content p
{
    line-height: 1.8rem;
    color: var(--light-color);
    font-size: 1.2rem;
    padding: .5rem;
    text-align: justify;
    padding-bottom: 5rem;
}
.footer
{
    background: white;
}
.footer .box-container
{
    border: 0px solid;
    /* height: 65rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22rem,1fr));
    gap: 1.5rem;
}
.footer .box-container .box h3
{
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}
.footer .box-container .box h3 i
{
    color: var(--green);

}
.footer .box-container .box .links{
    display: block;
    font: 2.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box .links i{
    color: var(--green);
    padding-right: .5rem;
}
.footer .box-container .box p
{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--light-color);
    padding: 1rem 0;
}
.footer .box-container .box .links:hover i
{
     padding-right: 1.3rem;
}
.footer .box-container .box .share a{
    /* border: 1px solid; */
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
}
.footer .box-container .box .share a:hover

{
    background-color: var(--green);
    color: white
}
.footer .box-container .box .email
{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.5rem;
    color: var(--black);
    text-transform: none;
}
.footer .credit

{
    text-align: center;
    margin: 2rem;
    padding: 1rem;
    padding-top: 2.3rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}
.footer .credit span
{
    color: var(--green);
}